table {
    width: 100%;
}

.centered-card {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    width: 80%; /* Define a largura do card */
    /* Outros estilos do card */
  }

.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background: rgba(0,0,0,0.10);
}
